<div id="form" style="width: 100%;">
    <div class="w2ui-page page-0">
        <div class="w2ui-field">
            <label>Scoring Server:</label>
            <div>
                <input name="scoringserver" type="text" maxlength="100" size="60" value="https://scoring.acme.server"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Team ID:</label>
            <div>
                <input name="teamid" type="text" maxlength="100" size="60"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Team Secret:</label>
            <div>
                <input name="teamsecret" type="text" maxlength="100" size="60"/>
            </div>
        </div>
    </div>

    <div class="w2ui-buttons">
        <button class="w2ui-btn" name="save">Test Connection</button>
        <button class="w2ui-btn" name="save">Save</button>
    </div>
</div>